{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cva"],
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "experimentalTernaries": true,
  "printWidth": 70,
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false
}
