@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  interpolate-size: allow-keywords;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #202020;
  color: #fff;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
